{% extends "base.html" %} 
{% block content %}

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for meal in categories %}
      <div class="col">
        <div class="card shadow-sm">
          <img  class="bd-placeholder-img card-img-top"
          width="100%"
          height="225"
           src="{{ meal.strCategoryThumb }}" />
         

          <div class="card-body">
            <h2>{{ meal.strCategory  | title }} </h2>
            <p class="card-text">
              {{ meal.strCategoryDescription|truncatewords:10 }}
            </p>
            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
