{% extends "base.html" %} 
{% block content %} 
{% load static %}

<section class="container my-4">
     <img src="{% static "images/logo.png" %}" class="navbar-brand" />
 
  <h2 class="mt-4">About Us</h2>
  <p>
    Welcome to Kacchi Bhai Restaurant ! We take pride in serving delicious and
    authentic cuisine in a warm and inviting atmosphere. Our chefs use only the
    finest ingredients to create mouthwatering dishes that will leave you coming
    back for more.
  </p>
  <p>
    AtKacchi Bhai Restaurant, we believe in providing a dining experience that
    goes beyond just great food. Our attentive staff is dedicated to ensuring
    your comfort and satisfaction, making every visit memorable.
  </p>
  <p>
    Whether you're joining us for a casual meal with friends or a special
    celebration, we look forward to serving you and making your dining
    experience truly exceptional.
  </p>
</section>
{% endblock %}
